* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #222;
}

.grid--3--cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10rem;
}

.grid--2--cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
}

.heading-secondary {
  text-transform: uppercase;
  color: #00575f;
  font-weight: 700;
  font-size: 1.8rem;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.heading {
  display: flex;
  background-color: #f3f7fc;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 6rem 4.8rem;
}

.nav-l {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 7rem;
}

.logo-img {
  height: 11.5rem;
}

.main-nav {
  list-style: none;
  display: flex;
  gap: 8rem;
}

.nav-el:link,
.nav-el:visited {
  color: #222;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}

.nav-el:hover,
.nav-el:active {
  border-bottom: 1px solid black;
}
.sub-nav {
  display: flex;
  list-style: none;
  gap: 8rem;
  font-size: 2rem;
  margin-right: 7rem;
}

.btn:visited,
.btn:link {
  padding: 1.8rem 4.5rem;
  border-radius: 40px;
  text-decoration: none;
}

.full-btn {
  background-color: #4d99a0;
  color: white;
  font-size: 2rem;
  transition: all 0.3s;
}

.outline-btn {
  background-color: #cce2e4;
  color: #338a92;
  font-size: 2rem;
  transition: all 0.3s;
}

.full-btn:active,
.full-btn:hover {
  background-color: #80b6bb;
}

.outline-btn:active,
.outline-btn:hover {
  background-color: #b3d3d6;
}

.hero-section {
  background-color: #f3f7fc;
  padding: 9.6rem 0;
}

.hero {
  max-width: 140rem;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: 50fr 50fr;
}

.heading-primary {
  font-size: 6.2rem;
  color: #191716;
}

.hero-text {
  font-size: 2.2rem;
  color: #5e5d5c;
  margin-top: 4rem;
  line-height: 1.4;
}

.btn-container-1 {
  margin-top: 4.5rem;
  display: flex;
  gap: 5rem;
}

.show-off {
  margin-top: 9rem;
  display: flex;
  align-items: center;
}

.images {
  display: flex;
}

.customer-img {
  width: 4.2rem;
  border-radius: 50%;
  margin-right: -1.2rem;
}

.so-text {
  font-size: 2rem;
  margin-left: 3rem;
  font-weight: 500;
  color: #191716;
}

.number {
  color: #338a92;
  font-weight: 700;
}

.hero-img-container {
  align-self: center;
  justify-self: center;
}

.hero-img {
  width: 100%;
}

.services-section {
  padding: 9.6rem 0;
}

.services {
  margin-top: 7rem;
}

.service-card {
  border-radius: 20px;
  border: 1px solid #00575f;
  box-shadow: 2px 5px 2px 1px rgb(0, 0, 0, 10%);
  overflow: hidden;
  transition: all 0.3s;
}

.service-card:hover {
  transform: translateY(-2rem);
  box-shadow: 2px 10px 2px 1px rgb(0, 0, 0, 10%);
}

.service-text {
  margin: 2rem 4rem 4rem 4rem;
}

.service-text-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 700;
  color: #002124;
}

.service-text-text,
.service-text-text-list {
  font-size: 2rem;
  line-height: 1.2;
  color: #191716;
}

.service-text-text-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}

.s-t-list {
  margin: 2rem 0;
  margin-left: 1rem;
  list-style: none;
}

.s-t-list li:not(:last-child) {
  margin-bottom: 1rem;
}

.services-img {
  width: 100%;
}

.testemonials-section {
  padding: 12rem 0;
  background-color: #f3f7fc;
}

.heading-testemonials {
  margin-top: 7rem;
  margin-bottom: 10rem;
  font-size: 5rem;
  text-align: center;
  color: #191716;
  font-weight: 500;
}

.testemonial {
  display: flex;
  gap: 6rem;
  align-items: center;
}

.testemonials-img {
  border-radius: 50%;
  width: 50%;
}

.testemonial {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 2rem;
  color: #302e2d;
}

.testemonials-low {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  color: #757473;
}

.section-cta {
  padding: 9.6rem 0;
}

.cta-box {
  width: 85%;
  align-self: center;
  justify-self: center;
  border-radius: 50px;
  box-shadow: 3px 5px 3px 2px rgb(0, 0, 0, 10%);
}

.appointment {
  background-image: linear-gradient(to bottom right, #e6f0f1, #b3d3d6);
}

.results {
  background-image: linear-gradient(to bottom right, #b3d3d6, #80b6bb);
}

.cta-title {
  font-size: 3.2rem;
  padding: 4rem 4rem 8rem 4rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
}

.cta-form-a {
  font-size: 2.5rem;
  color: #171514;
}

.forma {
  display: grid;
  grid-template-columns: 35fr 65fr;
  align-items: center;
  padding: 0 5rem 8rem 5rem;
  row-gap: 5rem;
  column-gap: 1rem;
}

.forma input,
.forma select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #ebf2fa;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.cta-btn {
  background-color: #4d99a0;
  color: white;
  font-size: 2rem;
  padding: 1.8rem 4.5rem;
  border-radius: 40px;
  text-decoration: none;
  border: none;
}

.q-btn {
  background-color: #002c30;
}

/**************************/
/* FEATURED IN SECTION */
/**************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/**************************/
/* FOOTER */
/**************************/

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
  background-color: #f3f7fc;
}

.grid--footer {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
